<app-header></app-header>

<div class="container" *ngIf="cond">
    <div class="row justify-content-center" >
        <div class="col-md-4 .col-lg-3 mx-auto mt-4 mb-4 col-sm-6 	.col-8"  *ngFor="let student of students">
            <div class="card profile-card-5" [@expand]>
                <div class="card-img-block">
                    <img class="card-img-top" src="{{student.avatar}}" alt="Card image cap">
                </div>
                <div class="card-body pt-0">
                    <h5 class="card-title">{{student.first_name}} {{student.last_name}}</h5>
                    <p class="card-text">{{student.email}}</p>
                    <a (click)="parseid(student)" class="btn btn-dark" style="color: white;" [routerLink]="['../profile',student.id]">Show profile</a>
                </div>
            </div>
        </div>
    </div>
</div>