<div class="sidenav">

    <div class="login-main-text">
        <h2>Search Page Project <br> Login Page</h2>
        <p>Login from here to access.</p>
    </div>

</div><!-- sidenav -->
<div class="main">

    <div class="col-md-6 col-sm-12">

        <div class="login-form">

            <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>

                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                    <label for="username" class="form-label">UserName</label>
                    <input name="username" id="txtusername" type="text" class="form-control" placeholder="User Name"
                        aria-describedby="emailHelp" [(ngModel)]="model.value.username" #username="ngModel" required>
                    <div *ngIf="f.submitted && !username.valid" class="help-block"> <span style="color: red">Username is
                            required</span></div>
                </div> <!-- username -->

                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                    <label for="password" class="form-label">Password</label>
                    <input name="password" id="txtpassword" type="password" class="form-control" placeholder="Password"
                        [(ngModel)]="model.value.password" #password="ngModel" required>
                    <div *ngIf="f.submitted && !password.valid" class="help-block"> <span style="color: red">Password is
                            required</span></div>
                </div><!-- password -->

                <button type="submit" class="btn btn-black"><i class="fa fa-sign-in" aria-hidden="true"></i>Login</button> <!-- login-button -->

            </form><!-- form -->

        </div><!-- login-form -->

    </div><!-- div -->

</div> <!-- main -->